<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- 宣告 Filter -->
    <filter>
        <filter-name>PerformanceFilter</filter-name>
        <filter-class>com.web.filter.PerformanceFilter</filter-class>
    </filter>
    <filter>
        <filter-name>Login</filter-name>
        <filter-class>com.web.filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>Watermark</filter-name>
        <filter-class>com.web.filter.WatermarkFilter</filter-class>
    </filter>
    <!-- 執行順序 -->
    <filter-mapping>
        <filter-name>PerformanceFilter</filter-name>
        <url-pattern>/secure/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Login</filter-name>
        <url-pattern>/secure/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Watermark</filter-name>
        <url-pattern>/secure/*</url-pattern>
    </filter-mapping>
    <!-- 宣告 Servlet -->
    <servlet>
        <servlet-name>HelloGenericServlet</servlet-name>
        <servlet-class>com.web.controller.HelloGenericServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HelloHttpServlet</servlet-name>
        <servlet-class>com.web.controller.HelloHttpServlet</servlet-class>
    </servlet>
    <!-- Servlet 給 Client url 對應配置 -->
    <servlet-mapping>
        <url-pattern>/hi</url-pattern>
        <servlet-name>HelloGenericServlet</servlet-name>
    </servlet-mapping>
    <servlet-mapping>
        <url-pattern>/hello</url-pattern>
        <servlet-name>HelloHttpServlet</servlet-name>
    </servlet-mapping>
</web-app>
